body {
    background-color: #fff;
    background-image: url(condomanager_background.png);
}





.secao-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;

    padding: 20px 20px 100px 20px;
    color: #fff;
    background-color: #cacad0;
}

.secao-inicio header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
}

.secao-inicio header > img {
    max-width: 120px;
    width: 100%;
}

.secao-inicio header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    font: 600 15px 'Noto Sans';
}

.secao-inicio header button {
    font: 600 12px 'Noto Sans';
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
}

.secao-inicio main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;

    max-width: 1200px;
    width: 100%;
    
}

.secao-inicio main > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.secao-inicio main > div h1 {
    font: 700 20px/20px 'arial';
    
}

.secao-inicio main > div p {
    font: 300 25px/25px 'Noto Sans';
}

.secao-inicio main > img {
    width: 600px;
}

.secao-inicio .botoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 1200px;
    width: 100%;
}

.secao-inicio .botoes button {
    font: 900 18px/22px 'discord';
    text-transform: uppercase;
    
    width: 31%;
    max-width: 360px;
    

    height: 100px;
    padding: 20px;

    background-color: #fff;
    border: none;
    border-radius: 12px;

    box-shadow: 5px 5px 0 1px #57F287;
}



.secao-seguranca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: rgb(246, 246, 246);
    padding: 100px 30px;
}

.secao-seguranca .imagem {
    max-width: 450px;
    width: 100%;
}
.secao-seguranca .imagem img {
    width: 100%;
    border-radius: 10px;
}

.secao-seguranca .info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 500px;
    min-width: 400px;
}

.secao-seguranca .info h1 {
    font: 800 30px/30px 'Noto Sans';
    color: #23272A;
}

.secao-seguranca .info p {
    font: 400 14px/22px 'Noto Sans';
    color: #50555F;
}


.secao-seguranca .info .saiba-mais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    font: 500 14px/22px 'Noto Sans';
    color: #000000;
}

.servicos .info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 500px;
    min-width: 400px;
}


@media (max-width: 1024px) {
    .secao-inicio {
        padding: 20px 50px 100px 20px;
        gap: 110px;
    }
    .secao-inicio main {
        max-width: unset;
    }
    .secao-inicio main > div p {
        font: 400 14px/22px 'Noto Sans';
    }

    .secao-inicio .botoes {
        max-width: unset;
    }
    
    .secao-inicio .botoes button {
        width: calc(50% - 20px);
        max-width: unset;
        font: 900 14px/22px 'discord';
    }

    .secao-inicio header nav{
        display: none;
    }

    .secao-inicio main > img {
        display: none;
    }
}



@media (max-width: 768px) {

    .secao-inicio {
        gap: 80px;
        padding: 25px 25px 100px 25px;
    }

    .secao-inicio main > div h1 {
        font: 900 36px/36px 'discord';
        text-transform: uppercase;
    }

    .secao-seguranca {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 30px;
    }

    .secao-seguranca .imagem {
        max-width: unset;
    }

    .secao-seguranca .info h1 {
        font: 800 32px/54px 'Noto Sans';
    }

    .secao-seguranca .info {
        width: unset;
        min-width: unset;
    }

}